.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 8vw;
    padding-top: 60px;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
.footer-cont{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-socio img{
    width: 5vh;
    margin-right: 10px;
    border-radius: 100%;
    cursor: pointer;
}
.cont-left, .cont-center, .cont-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cont-center{
    cursor: pointer;
}
li{
    list-style: none;
    margin-bottom: 10px;
}
li:hover{
    color: tomato;
}
.cont-left h2, .cont-center h2, .cont-right h2{
    margin-bottom: 0;
    color: white;
}
hr{
    width: 100%;
    border: none;
    height: 2px;
    background-color: grey;
    margin: 20px 0;
}
@media (max-width:750px){
    .footer-cont{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .copyright{
        text-align: center;
    }
    .cont-left .foodie{
        
        margin-top: 0;
    }
    .cont-center, .cont-right li{
        font-size: 20px;
    }
    .cont-right h2{
        margin-top: 0;
    }
}